<!doctype HTML>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Garden Shows > Garden Glove Specialists</title>
	<base href="http://slinky.local/~matharden/glovespecialists" />
	<link href="http://slinky.local/~matharden/glovespecialists/main.css" rel="stylesheet" type="text/css" />
	<meta name="keywords" content="garden glove specialists,garden gloves,better homes and gardens,gardening gloves,thorn proof gloves,rubber gloves,ladies gardening gloves,garden web,protective gloves,ultra garden gloves,second skin garden gloves,garden accessories, potting gloves, thorn proof gloves">
	<meta name="description" content="A list of Gardening Show's that Glove Specialists will be attending in 2009. Try on different types and find the right garden glove for you.">
	<META name="ROBOTS" content="index,follow">
	<META name="REVISIT-AFTER" content="7 days">
	<META name="ROBOTS" content="ALL">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style type="text/css">
	<!--
	.previous { display: none; }
	
	/* This page only */
	
	#events	{ margin:0; padding:0; clear:both }
	#events li	{ list-style:none }
	abbr	{ border:none }
	
	/*.vevent	{ float:left; width:122px; margin:0 10px 10px 0; padding:0 9px; Xbackground:#f3f3f3; border:1px solid #f3f3f3 }*/
	.nt .vevent	{ margin-top:0; margin-bottom:0; padding:1em 0; border-top:1px dashed #bcb6a5 }
	.vevent h2	{ margin:10px 0; font-size:.938em }
	.vevent p	{ margin:10px 0; font-size:.813em }
	.vevent .date	{ float:right; margin:10px 0 10px 20px; text-align:center; background-color:#f5f5f5; -webkit-box-shadow: 2px 2px 2px #ccc; -moz-box-shadow: 2px 2px 2px #ccc; box-shadow: 2px 2px 2px #ccc; -webkit-transform: rotate(6deg); -moz-transform: rotate(5deg); transform: rotate(5deg);
		-webkit-transition-property: -webkit-transform;
		-webkit-transition-duration:.1s;
		-webkit-transition-timing-function: ease-in;
		-moz-transition:-moz-transform .1s ease-out;
		}
	.vevent:hover .date	{ 
		-webkit-transform:rotate(2deg) scale(1.1);
		-moz-transform:rotate(2deg) scale(1.1);
		
		-webkit-transition-property: -webkit-transform;
		-webkit-transition-duration:.4s;
		-webkit-transition-timing-function: linear, ease-out;
		-moz-transition:-moz-transform .3s ease-in;
		}
	.vevent strong	{ display:block; margin-bottom:.2em; padding:3px 10px; font-size:1.846em; font-weight:normal; color:#fff; background-color:#ff3e2f; border-bottom:1px solid #ccc }
	.vevent abbr	{ font-size:1.154em }
	.vevent .year	{ display:block; padding:3px 0; font-size:.8em; color:#666; letter-spacing:.1em }

	.passed h2	{ cursor:pointer; }
		
	-->
	</style>
</head>

<body class="nt">

<div id="header">
	<div class="container">
		<a href="/" title="Return to home page"><img src="images/logo1.gif" width="259" height="93" alt="Garden Glove Specialists"></a>
	</div>
</div>
		
<div id="menu">
	<div class="container">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="secondskin.htm">Second Skin</a></li>
			<li><a href="ultraglove.htm">Ultra Glove</a></li>
			<li><a href="easy-fit-gardening-glove">Easy Fit</a></li>
			<li><a href="garden-city-gloves">Garden City</a></li>
			<li><a href="red-back-gloves">Red Back Gloves</a></li>
			<li><a href="ordernow.htm">Order Now!</a></li>
			<li><a href="contactus.htm">Contact Us</a></li>
			<li><strong>Garden Shows</strong></li>
		</ul>
	</div>
</div>
	
<div id="content">
	<div class="container page">
		
	<div id="primary">
		<h1>Garden Shows 2011</h1>
		
		<p>Please come and meet us at the following shows. You will be able to try on all types of gardening gloves, including; <a href="secondskin.htm">Second Skin garden gloves</a>, <a href="ultragloves.htm">Ultra garden gloves</a> and <a href="easy-fit-gardening-glove.htm">Easyfit garden gloves</a>, in addition we will be showing our new City gardening gloves which are available in some lovely bright colours.</p>
	
		<ul id="events">
			<li class="vevent passed" id="Malvern-Spring-Gardening-Show">
				<p class="date"><strong>May </strong><abbr class="dtstart" title="2011-05-12">12</abbr> - <abbr class="dtend" title="2011-05-16">16</abbr><span class="year"> 2011</span></p>
				<h2 class="summary"><span class="hide">Glove Specialists at the </span>Malvern Spring Gardening Show</h2>
				<p class="location">Gardeners Shopping Pavilion, Three Counties Showground, Malvern</p>
				<p class="hide"><a class="url" href="http://www.glovespecialists.co.uk/gardenshows.htm#Malvern-Spring-Gardening-Show">Malvern Spring Gardening Show</a></p>
				<div class="description">
					<p>Enjoy 50 acres of glorious gardening heaven, with shelter from the elements if required and excellent catering facilities.</p> 
					<p>From show gardens, to ideas on green living you will find gardening inspiration. Our Garden Gloves will be shown in the Gardeners Shopping Pavillion.</p>
					<p>Find out more on <a href="http://www.threecounties.co.uk/springgardening/" title="Official Malvern Spring Gardening Show website" class="external">www.threecounties.co.uk/springgardening</a>.</p>
					<p class="hide">Or buy our gardening gloves on-line now at http://www.glovespecialists.co.uk</p>
				</div>
			</li>

			<li class="vevent passed" id="Devon-County-Show">
				<p class="date"><strong>May </strong><abbr class="dtstart" title="2011-05-19">19</abbr> - <abbr class="dtend" title="2011-05-21">21</abbr><span class="year"> 2011</span></p>
				<h2 class="summary"><span class="hide">Glove Specialists at the </span>Devon County Show</h2>
				<p class="location">Entrance of Floral Marquee, WestPoint Show Grounds, Clyst St Mary, Exeter</p>
				<p class="hide"><a class="url" href="http://www.glovespecialists.co.uk/gardenshows.htm#Devon-County-Show">Devon County Show</a></p>
				<div class="description">
					<p>Fun activities for children, like planting seeds and playing on Tractor Ted!</p> 
					<p>To the Floral Marquee where you can see our gardening gloves and all the wonderful exhibitions and flower arranging.</p>
					<p>Find out more on <a href="http://www.devoncountyshow.co.uk/" title="Official Devon County Show website" class="external">www.devoncountyshow.co.uk</a>.</p>
					<p class="hide">Or buy our gardening gloves on-line now at http://www.glovespecialists.co.uk</p>
				</div>
			</li>
		
				
			<li class="vevent passed" id="Kent-Garden-Show">
				<p class="date"><strong>May </strong><abbr class="dtstart" title="2011-05-28">28</abbr> - <abbr class="dtend" title="2011-05-30">30</abbr><span class="year"> 2011</span></p>
				<h2 class="summary"><span class="hide">Glove Specialists at the </span>Kent Garden Show</h2>
				<p class="location">In covered hall, Kent Showground, Detling</p>
				<p class="hide"><a class="url" href="http://www.glovespecialists.co.uk/gardenshows.htm#Kent-Garden-Show">Kent Garden Show</a></p>
				<div class="description">
					<p>Find out more on <a href="http://www.kentgardenshow.com/" title="Official Kent Garden Show website" class="external">www.kentgardenshow.com</a>.</p>
					<p class="hide">Buy our gardening gloves on-line now at http://www.glovespecialists.co.uk</p>
				</div>
			</li>

		
			<li class="vevent passed" id="BBC-Gardeners-World-Live">
				<p class="date"><strong>Jun </strong><abbr class="dtstart" title="2011-06-16">16</abbr> - <abbr class="dtend" title="2011-06-20">20</abbr><span class="year"> 2011</span></p>
				<h2 class="summary"><span class="hide">Glove Specialists at the </span>BBC Gardeners World Live</h2>
				<p class="location">In the Indoor Gardening Area, NEC, Birmingham – stand no G760 – same position as last year</p>
				<p class="hide"><a class="url" href="http://www.glovespecialists.co.uk/gardenshows.htm#BBC-Gardeners-World-Live">BBC Gardeners World Live</a></p>
				<div class="description">
					<p>Award winning show gardens and Over 100 specialist growers and nurseries. You can even enjoy a plant swap – just bring a cutting of your own along. You can find our gardening gloves in the Indoor Gardening Area.</p>
					<p>Find out more on <a href="http://www.bbcgardenersworldlive.com/" title="Official BBC Gardeners World Live website" class="external">www.bbcgardenersworldlive.com</a>.</p>
					<p class="hide">Buy our gardening gloves on-line now at http://www.glovespecialists.co.uk</p>
				</div>
			</li>


			<li class="vevent passed" id="Taunton-Flower-Show">
				<p class="date"><strong>Aug </strong><abbr class="dtstart" title="2011-08-05">5</abbr> - <abbr class="dtend" title="2011-08-06">6</abbr><span class="year"> 2011</span></p>
				<h2 class="summary"><span class="hide">Glove Specialists at the </span>Taunton Flower Show</h2>
				<p class="location">Outside the Flower Tent next to the Main Ring, Vivary Park, Taunton</p>
				<p class="hide"><a class="url" href="http://www.glovespecialists.co.uk/gardenshows.htm#Taunton-Flower-Show">Taunton Flower Show</a></p>
				<div class="description">
					<p>This show is not only a traditional British flower show but includes attractions for the whole family. From exciting arena events to the spectacular floral marquee, the absorbing child's play area and Chelsea-style designer gardens, the show appeals to all ages. Our gardening gloves will be outside the Flower Tent next to the main ring.</p>
					<p>Find out more on <a href="http://www.tauntonflowershow.co.uk/" title="Official Taunton Flower Show website" class="external">www.tauntonflowershow.co.uk</a>.</p>
					<p class="hide">Buy our gardening gloves on-line now at http://www.glovespecialists.co.uk</p>
				</div>
			</li>


			<li class="vevent passed" id="Shrewsbury-Flower-Show">
				<p class="date"><strong>Aug </strong><abbr class="dtstart" title="2011-08-12">12</abbr> - <abbr class="dtend" title="2011-08-13">13</abbr><span class="year"> 2011</span></p>
				<h2 class="summary"><span class="hide">Glove Specialists at the </span>Shrewsbury Flower Show</h2>
				<p class="location">At the top of Avenue B, near Flower Marquee, Quarry Lodge Park, Shrewsbury</p>
				<p class="hide"><a class="url" href="http://www.glovespecialists.co.uk/gardenshows.htm#Shrewsbury-Flower-Show">Shrewsbury Flower Show</a></p>
				<div class="description">
					<p>Shrewsbury Flower Show is recognised as hosting one of the top competitive horticultural displays for both professionals and amateurs alike. Our gardening gloves will be at the top of Avenue B, near the Flower Marquee.</p>
					<p>Find out more on <a href="http://www.shrewsburyflowershow.org.uk/" title="Official Shrewsbury Flower Show website" class="external">www.shrewsburyflowershow.org.uk</a>.</p>
					<p class="hide">Buy our gardening gloves on-line now at http://www.glovespecialists.co.uk</p>
				</div>
			</li>
		

			<li class="vevent passed">
				<p class="date"><strong>Sep</strong><abbr class="dtstart" title="2011-09-02"> 2</abbr> - <abbr class="dtend" title="2011-09-04">4</abbr><span class="year"> 2011</span></p>
				<h2 class="summary"><span class="hide">Glove Specialists at the </span>Bath and West Flower Show <small>[formerly National Amateur Gardening Show]</small></h2>
				<p class="location">Garden Inspirations Pavilion, Royal Bath and West Show Grounds, Shepton Mallet</p>
				<div class="description">
					<p>It's probably the largest rural festival in the country and a great day out in Somerset for families, friends &amp; rural enthusiasts! Find our gardening gloves in the Garden Inspirations Pavillion.</p>
					<p>Find out more on <a href="http://www.bathandwest.com/" title="Official Bath and West Flower Show website" class="external">www.bathandwest.com</a>.</p>
					<p class="hide">Buy our gardening gloves on-line now at http://www.glovespecialists.co.uk</p>
				</div>
			</li>


			<li class="vevent next">
				<p class="date"><strong>Sep</strong><abbr class="dtstart" title="2011-09-24"> 24</abbr> - <abbr class="dtend" title="2011-09-25">25</abbr><span class="year"> 2011</span></p>
				<h2 class="summary"><span class="hide">Glove Specialists at the </span>Malvern Autumn Country and Garden Show</h2>
				<p class="location">In The Countryside Shopping Pavilion , Three Counties Showground, Malvern</p>
				<div class="description">
					<p>A show for food and gardening lovers, the event hosts a range of cookery demonstrations, gardening talks, vegetable displays, vintage tractors, crafts and more. Families and Friends can enjoy a day out in Worcestershire to remember. Our gardening gloves will be in the Countryside Shopping Pavillion.</p>
					<p>Find out more on <a href="http://www.threecounties.co.uk/malvernautumn/" title="Official Malvern Autumn Country and Garden Show website" class="external">www.threecounties.co.uk/malvernautumn</a>.</p>
					<p class="hide">Buy our gardening gloves on-line now at http://www.glovespecialists.co.uk</p>
				</div>
			</li>

		</ul>


		<div class="year current">
		
			<!--<p>Please come and meet us at the following shows. You will be able to try on all types of gardening gloves, including; <a href="secondskin.htm">Second Skin garden gloves</a>, <a href="ultragloves.htm">Ultra garden gloves</a> and <a href="easy-fit-gardening-glove.htm">Easyfit garden gloves</a>, in addition we will be showing our new City gardening gloves which are available in some lovely bright colours.</p>
			-->
			<!--<h2>Show Calender</h2>
			<p>NEW! <a href="http://www.google.com/calendar/embed?src=glovespecialists@googlemail.com&amp;ctz=Europe/London" class="external" target="google">View our show calendar</a></p>
	-->
			<div class="year previous" id="shows2010">
				<div class="show">
					<h2><a href="" title="" class="external"><s>Malvern Spring Gardening Show</s></a> <small>Three Counties Showground, Malvern</small></h2>
					<p>Thursday 6 May 2010 (RHS members only)<br>
					Friday 7 - Sunday 9 May 2010 (General Public)</p>
					<p>Find us in the <strong>Gardeners Shopping Pavilion</strong></p>
				</div>            
		
				<div class="show">
					<h2><a href="http://www.devoncountyshow.co.uk/" title="Visit the official Devon County Show website" class="external"><s>Devon County Show</s></a> <small>Westpoint Showgrounds, Clyst St Mary, Exeter</small></h2>
					<p>Thursday 20 - Saturday 22 May 2010</p>
					<p>Find us at the entrance of <strong>Floral Marquee</strong></p>
				</div>
			
				<div class="show">
					<h2><a href="http://www.kentgardenshow.com/" title="Visit the official Kent Garden Show website" class="external"><s>Kent Garden Show</s></a> <small>Kent Showgrounds, Detling, Maidstone</small></h2>
					<p>Saturday 29 - Bank Holiday Monday 31 May 2010</p>
					<p>Find us at the <strong>Gardening Products Hall</strong></p>
				</div>

				<div class="show">
					<h2><a href="http://www.bbcgardenersworldlive.com/" title="Visit the official BBC Gardeners World website" class="external"><s>BBC Gardeners World Live</s></a> <small>NEC, Birmingham</small></h2>
					<p>Wednesday 16 - Sunday 20 June 2010</p>
					<p>Find us in the <strong>Indoor Gardening Area, stand no G770 </strong> (same as last year's position)</p>
				</div>

				<div class="show">
					<h2><a href="http://www.tauntonflowershow.co.uk/" title="Visit the official Taunton Flower Show website" class="external"><s>Taunton Flower Show</s></a> <small>Vivary Park, Taunton</small></h2>
					<p>Friday 6 - Saturday 9 August 2010</p>
					<p>Find us <strong>outside the Flower Tent next to the Main Ring</strong></p>
				</div>

				<div class="show">
					<h2><a href="http://www.shrewsburyflowershow.org.uk/" title="Visit the official Shrewsbury Flower Show website" class="external"><s>Shrewsbury Flower Show</s></a> <small>Quarry Lodge Park, Shrewsbury</small></h2>
					<p>Friday 13 - Saturday 14 August 2010</p>
					<p>Find us <strong>at the top of Avenue B, near Flower Marquee</strong></p>
				</div>

				<div class="show" >
					<h2><a href="http://www.bathandwest.com/show_show_5.php" title="Visit the official Bath and West website" class="external">Bath and West Flower Show<br>(Formely National Amateur Gardening Show)</a> <small>Royal Bath and West Showgrounds, Shepton Mallet</small></h2>
					<p>Friday 3 - Sunday 5 September 2010</p>
					<p>Find us in the <strong>Garden Inspirations Pavilion</strong></p>
				</div>

				<div class="show">
					<h2><a href="http://www.threecounties.co.uk/malvernautumn/" title="Visit the official Malvern Autumn Country and Garden Show website" class="external">Malvern Autumn Country and Garden Show</a> <small>Three Counties Showground, Malvern</small></h2>
					<p>Saturday 25 - Sunday 26 September 2010</p>
					<p>Find us in the <strong>Countryside Shopping Pavilion</strong></p>
				</div>
			</div>

		</div>
	</div>
	
	</div>

</div>


<div class="container">
	<div id="preFooterLeft"><div id="preFooterRight"></div></div>


	<div id="footer">
		<span class="copyright">Copyright &copy;2004-2011 <a href="http://www.brainfire.co.uk/" class="external">Brainfire</a>. All rights reserved.</span>
	</div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
<script src="http://slinky.local/~matharden/glovespecialists/js/functions.js"></script>
<script src="http://slinky.local/~matharden/glovespecialists/js/gardenshows.js"></script>
<script type="text/html" id="item_tmpl">
	<li class="vevent passed" id="<%= name %>">
		<p class="date"><strong>May </strong><abbr class="dtstart" title="<%= start %>">12</abbr> - <abbr class="dtend" title="<%= end %>">16</abbr><span class="year"> 2011</span></p>
		<h2 class="summary"><span class="hide">Glove Specialists at the </span><%= name %></h2>
		<p class="location"><%= location %></p>
		<p class="hide"><a class="url" href="http://www.glovespecialists.co.uk/gardenshows.htm#<%= name.split(' ').join('-') %>"><%= name %></a></p>
		<div class="description">
			<p>Enjoy 50 acres of glorious gardening heaven, with shelter from the elements if required and excellent catering facilities.</p> 
			<p>From show gardens, to ideas on green living you will find gardening inspiration. Our Garden Gloves will be shown in the Gardeners Shopping Pavillion.</p>
			<p>Find out more on <a href="http://www.threecounties.co.uk/springgardening/" title="Official Malvern Spring Gardening Show website" class="external">www.threecounties.co.uk/springgardening</a>.</p>
			<p class="hide">Or buy our gardening gloves on-line now at http://www.glovespecialists.co.uk</p>
		</div>
	</li>
</script>
<script type="text/javascript">
	
	var h = $("#events li.passed h2");
	h.siblings().hide();

	$(document).ready(function(){
		h
			.attr('title', 'show/hide this event')
			.click(function(){
				$(this).siblings().slideToggle();
			});
		
		var show_user = tmpl("item_tmpl"), html = "";
		for ( var i = 0; i < shows2012.length; i++ ) {
		  html += show_user( shows2012[i] );
		}
		$('#events').prepend(html);
	});

</script>
<script src="http://www.google-analytics.com/urchin.js">
</script>
<script>
_uacct = "UA-3133522-1";
urchinTracker();
</script> 
</body>
</html>
